.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20vw;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: 0.2s;
}

@media (max-width: 950px) {
    .container {
        padding-left: 0vw;
        width: 100%;
        transition: 0.2s;
    }
}

@media (max-width: 650px) {}