.container {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    height: max-content;
    padding-left: 20vw;
    background-color: rgb(60, 58, 63);
    overflow: auto;
    transition: 0.2s;
}

.containerDevices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}

.textInstruccion {
    padding: 0;
    margin: 0;
    margin-top: 16px;
    font-size: 26px;
    color: white;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
    font-family: 'Anton', sans-serif;
}

.spanText {
    color: blueviolet;
    font-size: 34px;
    font-weight: bold;
}

@media (max-width: 950px) {
    .container {
        position: relative;
        flex: 1;
        /* opacity: 1; */
        height: max-content;
        padding-left: 0vw;
    }
}

@media (max-width: 650px) {
    .container {
        position: relative;
        opacity: 1;
        width: 100%;
        height: max-content;
        padding-left: 0vw;
    }
}