.container {
    display: flex;
    flex: 1;
    height: max-content;
    min-height: 100vh;
    padding: 0px;
    background-color: rgb(67, 62, 69);
}

@media (max-width: 950px) {
    .container {
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }
}